<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Importing Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--ChartJs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>

    <title>Web Trainer</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Web Trainer</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div class="container" style="width: 95%">
        <div class="row d-flex justify-content-center">
            <h3>Web Trainer</h3>
        </div>
        <div class="row">
            <label for="project_name">Project Name</label>
            <input type="text" class="form-control" id="project_name" value="{{name}}"></input>
        </div>
        <div class="row">
            <h3>Dataset Info</h3>
        </div>
        <div class="row" style="margin: 0.5rem">
            <div class="col-lg-2">
                <label for="dataset_name">Dataset Name:</label>
                <input class="form-control" type="text" id="dataset_name" value="{{dataset_name}}"></input>
            </div>
            <div class="col-lg-2">
                <label for="batch_size">Batch Size:</label>
                <input class="form-control" type="number" id="batch_size" value="{{batch_size}}"></input>
            </div>
            <div class="col-lg-2">
                <label for="shuffle">Shuffle</label>
                <select class="form-control" id="shuffle">
                    <option>True</option>
                    <option>False</option>
                </select>
            </div>
            <div class="col-lg-2">
                <label for="train_split">Split:</label>
                <input class="form-control" type="number" id="train_split" value="{{split}}"></input>
            </div>
        </div>
        <div class="row" style="margin: 1rem">
            <div class="col-lg-2">
                <label for="num_epochs">Number of Epochs</label>
                <input class="form-control" type='number' id="num_epochs" value="{{num_epochs}}"></input>
            </div>
            <div class="col-lg-2">
                <label for="model">Model</label>
                <select class="form-control" id="model">
                    <option>{{model}}</option>
                    <option>Resnet18</option>
                    <option>Resnet34</option>
                    <option>Mobilenet</option>
                    <option>Squeezenet</option>
                    <option>Inceptionv3</option>
                </select>
            </div>
            <div class="col-lg-2">
                <label for="num_classes">Number of Classes</label>
                <input class="form-control" type='number' id="num_classes" value="{{num_classes}}" disabled></input>
            </div>
        </div>
        <div class="row" style="margin:1rem">
            <div class="col-lg-2">
                <label for="optim">Optim</label>
                <input class="form-control" type='text' id="optim" value="{{optim}}"></input>
            </div>
            <div class="col-lg-2">
                <label for="lr">Learning Rate</label>
                <input class="form-control" type='number' id="lr" value="{{lr}}"></input>
            </div>
        </div>
        <div class="row" style="margin:1rem">
            <h3>Train</h3>
        </div>
        <div class="row" style="margin:1rem">
            <button id='train_go' class="btn btn-lg btn-primary">Train</button>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4>Graphs</h4>
            </div>
            {% if task=='classification' %}
                <div class="col-lg-6">
                    <canvas id="acc_graphs"></canvas>
                </div>
                <div class="col-lg-6">
                    <canvas id="training_graph"></canvas>
                </div>
            {% else %}
                <div class="col-lg-12">
                    <canvas id="training_graph"></canvas>
                </div>
            {% endif %}
        </div>
<!--    1 more, 5 more, 10 more epochs buttons-->
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <button id="add_1" class="btn btn-success">Run 1 More Epoch</button>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <button id="add_5" class="btn btn-secondary">Run 5 More Epochs</button>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <button id="add_10" class="btn btn-info">Run 10 More Epochs</button>
            </div>
        </div>
        <!-- Show 3 images -->
        <div class="row" id="imgs_row">
            
        </div>
    </div>
</body>
</html>